.switchRootLight,
.switchRootDark {
  --borderRadius: 10rem;

  --backgroundRoot: rgb(0 0 0 / 0.9);
  --widthRoot: 4.2rem;
  --heightRoot: 2.5rem;

  --backgroundThumb: #FFFFFF;
  --widthThumb: 2.1rem;
  --heightThumb: 2.1rem;

  all: unset;
  background-color: var(--backgroundRoot);
  width: var(--widthRoot);
  height: var(--heightRoot);
  border-radius: var(--borderRadius);
  margin-right: 4rem;
  position: relative;
  cursor: pointer;
}

.switchRootLight {
  box-shadow: 0 0.2rem 1rem rgb(0 0 0 / 1);
}

.switchRootDark {
  box-shadow: 0 0.2rem 1rem rgb(255 255 255 / 1);
}

.switchThumb {
  background: var(--backgroundThumb);
  width: var(--widthThumb);
  height: var(--heightThumb);
  border-radius: var(--borderRadius);
  box-shadow: 0 0.2rem 0.2rem rgb(0 0 0 / 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.1s;
  transform: translateX(0.2rem);
  will-change: transform;
}

.switchThumb[data-state="checked"] {
  transform: translateX(1.9rem);
}

.switchIconLightMode {
  color: #FF8C00;
}

.switchIconDarkMode {
  color: #00008B;
}