.left {
  transform: rotateY(0deg);
  transition-timing-function: cubic-bezier(0, 0, 0.3, 1);
}

.right {
  transform: rotateY(360deg);
  transition-timing-function: cubic-bezier(0, 0, 0.3, 1);
}

.flip {
  transform: rotateY(180deg);
  transition-timing-function: cubic-bezier(0.85, 0, 1, 1);
}