@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

:root {
  --backgroundDark: #121212;
  --backgroundLight: #FFFFFF;
  --colorPrimaryDark: #FFFFFF;
  --colorPrimaryLight: rgba(0, 0, 0, 0.87);
  --colorSecondaryDark: rgba(255, 255, 255, 0.7);
  --colorSecondaryLight: rgba(0, 0, 0, 0.6);
  --hoverDark: rgba(255, 255, 255, 0.08);
  --hoverLight: rgba(0, 0, 0, 0.04);

  --widthSidebarOpened: 26rem;
  --widthSidebarClosed: 7.2rem;
  --widthSidebarIcon: 2.188rem;

  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

.noUnderline {
  text-decoration: none;
}

.dialogOverlay {
  background: rgb(0 0 0 / 0.6);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.dialogTrigger {
  all: unset;
}