@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

:root {
  --backgroundDark: #121212;
  --colorPrimaryDark: #FFFFFF;
  --colorSecondaryDark: rgba(255, 255, 255, 0.7);
  --hoverDark: rgba(255, 255, 255, 0.08);
  --boxShadowDark: rgb(255 255 255 / 1);
  --iconDarkMode:  #00008B;

  --backgroundLight: #FFFFFF;
  --colorPrimaryLight: rgba(0, 0, 0, 0.87);
  --colorSecondaryLight: rgba(0, 0, 0, 0.6);
  --hoverLight: rgba(0, 0, 0, 0.04);
  --boxShadowLight: rgb(0 0 0 / 1);
  --iconLightMode: #FF8C00;

  --colorIconMenuAboutMe: #FFB74D;
  --colorIconMenuTestimonies: #8BC24A;
  --colorIconMenuCollections: #1E88E5;
  --colorIconMenuContact: #FF7043;

  --bootstrapInfo: #14A2B8;
  --bootstrapPrimary: #0168D9;
  --bootstrapSecondary: #596267;

  --colorIconSocialMediaWhatsapp: #04A784;
  --colorIconSocialMediaMail: #0361B6;
  --colorIconSocialMediaFacebook: #139CF7;
  --colorIconSocialMediaInstagram: #E6683C;
  --colorIconSocialMediaBehance: #000000;
  --colorIconSocialMediaLinkedin: #0B65C2;

  --linearGradient: linear-gradient(90deg, #73C3AD 30%, #D97DAD 70%);
  --max-z-index: 999;
  --min-z-index: -10;

  --widthSidebarOpened: 26rem;
  --widthSidebarClosed: 7.2rem;
  --widthSidebarIcon: 2.188rem;

  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

.dialogOverlay {
  background: rgb(0 0 0 / 0.6);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.dialogTrigger {
  all: unset;
}

.linearGradient {
  background: var(--linearGradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}