.dialogContent {
  text-align: justify;
  padding: 3rem;
  border-radius: 0.8rem;
  box-shadow: 0.1rem 0.1rem 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.iconCloseDark,
.iconCloseLight {
  width: 3rem;
  height: 2.5rem;
  border: none;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.iconCloseLight {
  background: var(--colorSecondaryLight);
  color: var(--colorPrimaryDark);
}

.iconClose:hover {
  opacity: 0.5;
}